<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.qhit.artActive.dao.IArtActiveDao"> 
	<!-- 自定义结果集 --> 
	<resultMap id="BaseResultMap" type="com.qhit.artActive.pojo.ArtActive"> 
		<id property="acid" column="acid" javaType="java.lang.Integer"></id> 
		<result property="title" column="title" javaType="java.lang.String"></result> 
		<result property="fid" column="fid" javaType="java.lang.Integer"></result> 
		<result property="aid" column="aid" javaType="java.lang.Integer"></result> 
		<result property="creattime" column="creattime" javaType="java.lang.String"></result> 
		<result property="start" column="start" javaType="java.lang.Integer"></result> 
		<result property="acont" column="acont" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 在各种标签中，id属性必须与接口中的方法名一样，id的值必须是唯一的，parameterType指查询时使用的参数类型， 
	resultType属性指明查询返回的结果集类型    --> 
 
	<sql id="Base_Column_List" > 
		acid,title,fid,aid,creattime,start,acont 
	</sql> 
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from art_active 
		where acid = #{acid} 
	</select> 
	<delete id="delete" parameterType="java.lang.Integer" > 
		delete from art_active 
		where acid = #{acid} 
	</delete> 
	<insert id="insert" parameterType="com.qhit.artActive.pojo.ArtActive" > 
		insert into art_active(title,fid,aid,creattime,start,acont) 
		values (#{title},#{fid},#{aid},#{creattime},#{start},#{acont}) 
	</insert> 
	<update id="updateSelective" parameterType="com.qhit.artActive.pojo.ArtActive" > 
		update art_active 
		<set > 
			<if test="title != null and title!='' " > 
				title = #{title}, 
			</if> 
			<if test="fid != null and fid!='' " > 
				fid = #{fid}, 
			</if> 
			<if test="aid != null and aid!='' " > 
				aid = #{aid}, 
			</if> 
			<if test="creattime != null and creattime!='' " > 
				creattime = #{creattime}, 
			</if> 
			<if test="start != null and start!='' " > 
				start = #{start}, 
			</if> 
			<if test="acont != null and acont!='' " > 
				acont = #{acont}, 
			</if> 
		</set> 
		where acid = #{acid} 
	</update> 
	<update id="update" parameterType="com.qhit.artActive.pojo.ArtActive" > 
		update art_active 
		set  title = #{title}, fid = #{fid}, aid = #{aid}, creattime = #{creattime}, start = #{start}, acont = #{acont} 
		where acid = #{acid} 
	</update> 
	<select id="findAll" resultMap="BaseResultMap" > 
		select 
		<include refid="Base_Column_List" /> 
		from art_active 
	</select> 
	<select id="findByTitle" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from art_active 
		where title = #{title} 
	</select> 
	<select id="findByFid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from art_active 
		where fid = #{fid} 
	</select> 
	<select id="findByAid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from art_active 
		where aid = #{aid} 
	</select> 
	<select id="findByCreattime" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from art_active 
		where creattime = #{creattime} 
	</select> 
	<select id="findByStart" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from art_active 
		where start = #{start} 
	</select> 

	<delete id="deleteBatch" parameterType="java.util.Arrays"> 
		delete from art_active where acid in 
		<foreach collection="array" item="id" open="(" close=")" separator=","> 
			#{id} 
		</foreach> 
	</delete> 
	<select id="search" parameterType="com.qhit.artActive.pojo.ArtActive" resultMap="BaseResultMap"> 
		select * from  art_active 
		<where > 
			<if test="title != null and title!='' " > 
				 and title = #{title} 
			</if> 
			<if test="fid != null and fid!='' " > 
				 and fid = #{fid} 
			</if> 
			<if test="aid != null and aid!='' " > 
				 and aid = #{aid} 
			</if> 
			<if test="creattime != null and creattime!='' " > 
				 and creattime = #{creattime} 
			</if> 
			<if test="start != null and start!='' " > 
				 and start = #{start} 
			</if> 
			<if test="acont != null and acont!='' " > 
				 and acont = #{acont} 
			</if> 
		</where> 
	</select> 
</mapper> 
